*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: sans-serif;
    
}
header{
    display: flex;
    justify-content: space-between;
    height: 20vh;
    /* gradientes */
    background-image: linear-gradient(to top, rgba(143, 231, 60, 0.774) , rgb(248, 224, 8));
    
}
.header ul li{
    display: inline-block;
}
.header ul li :hover{
    font-weight: bolder;
}

.main{
    height: 70vh;
    background-image: linear-gradient( rgb(4, 31, 107), rgb(159, 220, 248));
}
.main img:hover{
    transform: skew(5deg);
    transition: 5s;
    
}
input{
    width: 250px;
    padding: 20px;
}
input:focus{
    border-radius: 10px;
    background-color: aqua;
    color: black;
}
input:hover{
    background-color: brown;
}
h2{
    color: aliceblue;
    animation-name: titulo;
    animation-duration: 40s;
    animation-iteration-count:infinite ;
    animation-delay: none;
}
@keyframes titulo{
    0%{
        color: white;
        font-size: 25px;
    }
    25%{
        color: yellow;
        text-decoration: underline;
    }
    50%{
        color: gray;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    75%{
        color: red;
        font-size: 15px;
    }
    100%{
        color: blueviolet;
        opacity: 0,5px;
    }
}
